footer {
  background-image: url(/assets/img/fundo-rodape.png);
  position: fixed;
  height: 50px;
  width: 100%;
  bottom: 0;
  left: 0;
  display: flex;
}

.fa-home {
  cursor: pointer;
}

.fa-home:hover {
  color: #f1c40f;
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.TextoCopyright {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem 1rem 0.5rem;
}

footer small {
  color: white;
}

.LogoRodape {
  margin-left: auto;
  width: 100%;
  max-width: 65px;
  padding: 0.5rem 0.5rem 0.5rem;
}
