footer {
  background-image: url(/assets/img/fundo-rodape.png);
  height: 50px;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
}

.Rodape {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.TextoCopyright {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem 1rem 0.5rem;
}

.LogoRodape {
  justify-self: center;
  grid-area: LogoRodape;
  max-width: 50px;
}

footer small {
  color: white;
}

.LogoRodapeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
