<section class="container cadastrar-pedidos ff-inter">
  <form [formGroup]="formulario" id="formulario">
    <h5><strong>Emitir Pedido:</strong></h5>
    <br />
    <div class="row">
      <!-- <div class="col-md-9">
        <mat-form-field class="form-grid" appearance="fill">
          <mat-label>Nome Cliente</mat-label>
          <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            @for (option of filteredOptions | async; track option) {
              <mat-option [value]="option">{{option.name}}</mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>


        <mat-form-field class="form-grid">
          <mat-label>Nome Cliente</mat-label>
          <input
            matInput
            disableRipple
            name="nome"
            placeholder="Digite o nome do Cliente"
            formControlName="nome"
            (blur)="consultaClienteNome()"
          />
          @if (formulario.get("nome")?.invalid) {
            <mat-error>
              {{ formUtils.getMensagemErro(formulario, "nome") }}</mat-error
            >
          }
        </mat-form-field>
      </div> -->

      <div class="col-md-3">
        <mat-form-field class="form-grid">
          <mat-label>ID do Cliente</mat-label>
          <input
            matInput
            disableRipple
            name="idCliente"
            placeholder="Digite o ID do Cliente"
            formControlName="idCliente"
            (blur)="consultaClienteId()"
            #focusElement
          />
          @if (formulario.get("idCliente")?.invalid) {
            <mat-error>
              {{
                formUtils.getMensagemErro(formulario, "idCliente")
              }}</mat-error
            >
          }
        </mat-form-field>
      </div>
    </div>

    <br />
    <h6><strong>Informações Cliente:</strong></h6>
    <br />

    <div class="espaco-dentro">
      <div class="row">
        <div class="col-md-9">
          <mat-form-field class="form-grid" appearance="outline">
            <mat-label>Nome:</mat-label>
            <input
              tabindex="-1"
              readonly="true"
              matInput
              name="nome"
              formControlName="nome"
            />
          </mat-form-field>
        </div>

        <div class="col-md-3">
          <mat-form-field class="form-grid" appearance="outline">
            <mat-label>CPF/CNPJ:</mat-label>
            <input
              tabindex="-1"
              readonly="true"
              matInput
              name="cpfcnpj"
              formControlName="cpfcnpj"
            />
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <mat-form-field class="form-grid" appearance="outline">
            <mat-label>Telefone:</mat-label>
            <input
              tabindex="-1"
              readonly="true"
              matInput
              name="telefone"
              formControlName="telefone"
            />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="form-grid" appearance="outline">
            <mat-label>Celular:</mat-label>
            <input
              tabindex="-1"
              readonly="true"
              matInput
              name="celular"
              formControlName="celular"
            />
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="form-grid" appearance="outline">
            <mat-label>E-mail:</mat-label>
            <input
              tabindex="-1"
              readonly="true"
              matInput
              name="email"
              formControlName="email"
            />
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <mat-form-field class="form-grid" appearance="outline">
            <mat-label>CEP:</mat-label>
            <input
              tabindex="-1"
              readonly="true"
              matInput
              name="cep"
              formControlName="cep"
            />
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-9">
          <mat-form-field class="form-grid" appearance="outline">
            <mat-label>Logradouro:</mat-label>
            <input
              tabindex="-1"
              readonly="true"
              matInput
              name="logradouro"
              formControlName="logradouro"
            />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="form-grid" appearance="outline">
            <mat-label>Número:</mat-label>
            <input
              tabindex="-1"
              readonly="true"
              matInput
              name="numero"
              formControlName="numero"
            />
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-9">
          <mat-form-field class="form-grid" appearance="outline">
            <mat-label>Complemento:</mat-label>
            <input
              tabindex="-1"
              readonly="true"
              matInput
              name="complemento"
              formControlName="complemento"
            />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="form-grid" appearance="outline">
            <mat-label>Bairro:</mat-label>
            <input
              tabindex="-1"
              readonly="true"
              matInput
              name="bairro"
              formControlName="bairro"
            />
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-9">
          <mat-form-field class="form-grid" appearance="outline">
            <mat-label>Cidade:</mat-label>
            <input
              tabindex="-1"
              readonly="true"
              matInput
              name="cidade"
              formControlName="cidade"
            />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="form-grid" appearance="outline">
            <mat-label>UF:</mat-label>
            <input
              tabindex="-1"
              readonly="true"
              matInput
              name="estado"
              formControlName="estado"
            />
          </mat-form-field>
        </div>
      </div>
    </div>

    <br />
    <h6><strong>Informações Empresa:</strong></h6>
    <br />

    <div class="espaco-dentro">
      <div class="row">
        <div class="col-md-9">
          <mat-form-field class="form-grid">
            <mat-label>Nome Fantasia:</mat-label>
            <input
              matInput
              name="nomePedido"
              placeholder="Digite o nome fantasia"
              formControlName="nomePedido"
            />
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-9">
          <mat-form-field class="form-grid">
            <mat-label>Razão Social:</mat-label>
            <input
              matInput
              name="razaoSocial"
              placeholder="Digite a Razão Social"
              formControlName="razaoSocial"
            />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="form-grid">
            <mat-label>CPF/CNPJ:</mat-label>
            <input
              matInput
              name="cpfcnpjPedido"
              placeholder="Digite o CPF ou CNPJ"
              formControlName="cpfcnpjPedido"
            />
          </mat-form-field>
        </div>
      </div>
    </div>

    <br />
    <h6><strong>Informações Pedido:</strong></h6>
    <br />

    <div class="espaco-dentro">
      Forma de Pagamento:
      <div class="row">
        <div class="col-md-2">
          <mat-card-content>
            <section class="form-grid">
              <mat-checkbox
                formControlName="tipoPgto"
                class="checkbox-margin"
                (change)="onPaymentCheckBoxChange($event)"
                [checked]="isPaymentChecked"
                >Á Vista
              </mat-checkbox>
            </section>
          </mat-card-content>
        </div>
        <div class="col-md-2">
          @if (!isPaymentChecked) {
            <mat-card-content>
              <section class="form-grid">
                <mat-form-field>
                  <mat-label>Faturado:</mat-label>
                  <mat-select formControlName="tipoPgto">
                    <mat-option value="0"> </mat-option>
                    <mat-option (click)="selectClick()" value="10 dias"
                      >10 dias</mat-option
                    >
                    <mat-option (click)="selectClick()" value="11 dias"
                      >11 dias</mat-option
                    >
                    <mat-option (click)="selectClick()" value="12 dias"
                      >12 dias</mat-option
                    >
                    <mat-option (click)="selectClick()" value="13 dias"
                      >13 dias</mat-option
                    >
                    <mat-option (click)="selectClick()" value="14 dias"
                      >14 dias</mat-option
                    >
                    <mat-option (click)="selectClick()" value="15 dias"
                      >15 dias</mat-option
                    >
                    <mat-option (click)="selectClick()" value="16 dias"
                      >16 dias</mat-option
                    >
                    <mat-option (click)="selectClick()" value="17 dias"
                      >17 dias</mat-option
                    >
                    <mat-option (click)="selectClick()" value="18 dias"
                      >18 dias</mat-option
                    >
                    <mat-option (click)="selectClick()" value="19 dias"
                      >19 dias</mat-option
                    >
                    <mat-option (click)="selectClick()" value="20 dias"
                      >20 dias</mat-option
                    >
                    <mat-option (click)="selectClick()" value="21 dias"
                      >21 dias</mat-option
                    >
                    <mat-option (click)="selectClick()" value="22 dias"
                      >22 dias</mat-option
                    >
                    <mat-option (click)="selectClick()" value="23 dias"
                      >23 dias</mat-option
                    >
                    <mat-option (click)="selectClick()" value="24 dias"
                      >24 dias</mat-option
                    >
                    <mat-option (click)="selectClick()" value="25 dias"
                      >25 dias</mat-option
                    >
                    <mat-option (click)="selectClick()" value="26 dias"
                      >26 dias</mat-option
                    >
                    <mat-option (click)="selectClick()" value="27 dias"
                      >27 dias</mat-option
                    >
                    <mat-option (click)="selectClick()" value="28 dias"
                      >28 dias</mat-option
                    >
                    <mat-option (click)="selectClick()" value="29 dias"
                      >29 dias</mat-option
                    >
                    <mat-option (click)="selectClick()" value="30 dias"
                      >30 dias</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </section>
            </mat-card-content>
          }
        </div>
      </div>

      <br />

      <tr>
        <mat-slide-toggle
          color="blue"
          (change)="onToggleChange($event)"
          [checked]="isAdressChecked"
        >
          Entregar no mesmo endereço de cadastro:
        </mat-slide-toggle>
      </tr>

      <br />

      <div class="row">
        <div class="col-md-3">
          @if (isAdressChecked) {
            <mat-form-field class="form-grid" appearance="outline">
              <mat-label>CEP:</mat-label>
              <input
                tabindex="-1"
                readonly="true"
                matInput
                name="cepPedido"
                formControlName="cepPedido"
              />
            </mat-form-field>
          } @else {
            <mat-form-field class="form-grid">
              <mat-label>CEP:</mat-label>
              <input
                matInput
                name="cepPedido"
                placeholder="Digite o CEP"
                formControlName="cepPedido"
                (blur)="consultaCEP()"
              />
              @if (formulario.get("cepPedido")?.invalid) {
                <mat-error>
                  {{
                    formUtils.getMensagemErro(formulario, "cepPedido")
                  }}</mat-error
                >
              }
            </mat-form-field>
          }
        </div>
      </div>

      <div class="row">
        @if (isAdressChecked) {
          <div class="col-md-9">
            <mat-form-field class="form-grid" appearance="outline">
              <mat-label>Logradouro:</mat-label>
              <input
                tabindex="-1"
                readonly="true"
                matInput
                name="logradouroPedido"
                formControlName="logradouroPedido"
              />
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="form-grid" appearance="outline">
              <mat-label>Número:</mat-label>
              <input
                tabindex="-1"
                readonly="true"
                matInput
                name="numeroPedido"
                formControlName="numeroPedido"
              />
            </mat-form-field>
          </div>
        } @else {
          <div class="col-md-9">
            <mat-form-field class="form-grid">
              <mat-label>Logradouro:</mat-label>
              <input
                matInput
                name="logradouroPedido"
                placeholder="Digite o logradouro"
                formControlName="logradouroPedido"
              />
              @if (formulario.get("logradouroPedido")?.invalid) {
                <mat-error>
                  {{
                    formUtils.getMensagemErro(formulario, "logradouroPedido")
                  }}</mat-error
                >
              }
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="form-grid">
              <mat-label>Número:</mat-label>
              <input
                matInput
                name="numeroPedido"
                placeholder="Digite o número"
                formControlName="numeroPedido"
              />
              @if (formulario.get("numeroPedido")?.invalid) {
                <mat-error>
                  {{
                    formUtils.getMensagemErro(formulario, "numeroPedido")
                  }}</mat-error
                >
              }
            </mat-form-field>
          </div>
        }
      </div>

      <div class="row">
        @if (isAdressChecked) {
          <div class="col-md-9">
            <mat-form-field class="form-grid" appearance="outline">
              <mat-label>Complemento:</mat-label>
              <input
                tabindex="-1"
                readonly="true"
                matInput
                name="complementoPedido"
                formControlName="complementoPedido"
              />
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="form-grid" appearance="outline">
              <mat-label>Bairro:</mat-label>
              <input
                tabindex="-1"
                readonly="true"
                matInput
                name="bairroPedido"
                formControlName="bairroPedido"
              />
            </mat-form-field>
          </div>
        } @else {
          <div class="col-md-9">
            <mat-form-field class="form-grid">
              <mat-label>Complemento:</mat-label>
              <input
                matInput
                name="complementoPedido"
                placeholder="Ex. Apto 64"
                formControlName="complementoPedido"
              />
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="form-grid">
              <mat-label>Bairro:</mat-label>
              <input
                matInput
                name="bairroPedido"
                placeholder="Digite o bairro"
                formControlName="bairroPedido"
              />
            </mat-form-field>
          </div>
        }
      </div>

      <div class="row">
        @if (isAdressChecked) {
          <div class="col-md-9">
            <mat-form-field class="form-grid" appearance="outline">
              <mat-label>Cidade:</mat-label>
              <input
                tabindex="-1"
                readonly="true"
                matInput
                name="cidadePedido"
                formControlName="cidadePedido"
              />
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="form-grid" appearance="outline">
              <mat-label>UF:</mat-label>
              <input
                tabindex="-1"
                readonly="true"
                matInput
                name="estadoPedido"
                formControlName="estadoPedido"
              />
            </mat-form-field>
          </div>
        } @else {
          <div class="col-md-9">
            <mat-form-field class="form-grid">
              <mat-label>Cidade:</mat-label>
              <input
                matInput
                name="cidadePedido"
                placeholder="Digite a cidade"
                formControlName="cidadePedido"
              />
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="form-grid">
              <mat-label>UF:</mat-label>
              <input
                matInput
                name="estadoPedido"
                placeholder="Digite o estado. Ex: SP"
                formControlName="estadoPedido"
              />
            </mat-form-field>
          </div>
        }
      </div>

      <div class="row">
        <div class="col-md-3">
          <mat-form-field class="form-grid">
            <mat-label>SFOBRAS:</mat-label>
            <input
              matInput
              name="sfobras"
              placeholder="Digite o SFOBRAS"
              formControlName="sfobras"
            />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="form-grid">
            <mat-label>CNO:</mat-label>
            <input
              matInput
              name="cno"
              placeholder="Digite o CNO"
              formControlName="cno"
            />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="form-grid">
            <mat-label>Inscrição Estadual:</mat-label>
            <input
              matInput
              name="ie"
              placeholder="Informe a IE"
              formControlName="ie"
            />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="form-grid">
            <mat-label>Mangueira: Metros</mat-label>
            <select matNativeControl name="metro" formControlName="mangueira">
              <option value="" selected></option>
              @for (metro of metros; track metro) {
                <option [value]="metro.value">{{ metro.viewValue }}</option>
              }
            </select>
          </mat-form-field>
        </div>
      </div>

      <h6>Volume:</h6>
      <div class="row">
        <div class="col-md-12">
          <mat-radio-group
            aria-labelledby="example-radio-group-label"
            name="volume"
            formControlName="volume"
          >
            @for (volume of volumes; track volume) {
              <mat-radio-button [value]="volume.value">{{
                volume.viewValue
              }}</mat-radio-button>
            }
          </mat-radio-group>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2">
          <mat-form-field class="form-grid">
            <mat-label>Preço cx-5m³</mat-label>
            <span matTextPrefix>R$ </span>
            <input matInput name="precoCx5" formControlName="precoCx5" />
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field class="form-grid">
            <mat-label>Preço cx-10m³</mat-label>
            <span matTextPrefix>R$ </span>
            <input matInput name="precoCx10" formControlName="precoCx10" />
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field class="form-grid">
            <mat-label>Preço cx-15m³</mat-label>
            <span matTextPrefix>R$ </span>
            <input matInput name="precoCx15" formControlName="precoCx15" />
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field class="form-grid">
            <mat-label>Preço lav-5m³</mat-label>
            <span matTextPrefix>R$ </span>
            <input matInput name="precoLv5" formControlName="precoLv5" />
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field class="form-grid">
            <mat-label>Preço lav-10m³</mat-label>
            <span matTextPrefix>R$ </span>
            <input matInput name="precoLv10" formControlName="precoLv10" />
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field class="form-grid">
            <mat-label>Preço lav-15m³</mat-label>
            <span matTextPrefix>R$ </span>
            <input matInput name="precoLv15" formControlName="precoLv15" />
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <mat-form-field class="form-grid">
            <mat-label>Ajudante p/ hora adicional:</mat-label>
            <input
              matInput
              name="ajudanteHora"
              placeholder="Informe o ajudante para hora adicional"
              formControlName="ajudanteHora"
            />
          </mat-form-field>
        </div>
        <div class="col-md-8">
          <mat-form-field class="form-grid">
            <mat-label>Observações:</mat-label>
            <input
              matInput
              name="observacao"
              placeholder="Informações adicionais"
              formControlName="observacao"
            />
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="acoes">
      <button (click)="onSubmitIssue()" class="botao">Emite Pedido</button>
      <button (click)="onSubmitSave()" class="botao">Salvar</button>
      <button (click)="onCancel()" class="botao">Cancelar</button>
    </div>
  </form>

  <br />
  <br />

  <div class="container-previa">
    <header class="header">
      <h4><i>Prévia do Pedido:</i></h4>
    </header>
    <div class="modelo ff-roboto-mono">
      <img
        class="col-md-12"
        src="../../../../assets/img/logo.png"
        alt="Logo São Tomé"
      />

      <br />

      <mat-list>
        <mat-divider></mat-divider>
      </mat-list>

      <div class="row">
        <div class="col-md-9">
          <h4>PEDIDO: {{ this.formulario.get("idPedido")?.value }}</h4>
        </div>
        <div class="col-md-3">
          <b>DATA: </b>
          <!-- {{ dataAtual | date: 'dd/MM/yyyy' }} -->
          {{ dataAtual }}
        </div>
      </div>

      <mat-list>
        <mat-divider></mat-divider>
      </mat-list>

      <br />

      <div class="campos_previa">
        <p class="nomePedido">
          <b>CLIENTE: </b>
          {{ this.formulario.get("nomePedido")?.value }}
        </p>
      </div>

      <div class="campos_previa">
        <p class="endereco">
          <b>ENDEREÇO: </b>
          {{ this.formulario.get("logradouroPedido")?.value }},
          {{ this.formulario.get("numeroPedido")?.value }},
          {{ this.formulario.get("complementoPedido")?.value }},
          {{ this.formulario.get("bairroPedido")?.value }},
          {{ this.formulario.get("estadoPedido")?.value }}
          - CEP: {{ this.formulario.get("cepPedido")?.value }}
        </p>
      </div>

      <div class="row">
        <div class="col-md-4">
          <b>VOLUME: </b>
          {{ this.formulario.get("volume")?.value }}
        </div>
        <div class="col-md-4">
          <b>MANGUEIRA: </b>
          {{ this.formulario.get("mangueira")?.value }}
        </div>
        <div class="col-md-4">
          <b>PREÇO: R$ </b>
          {{ this.formulario.get("precoCx5")?.value }}
        </div>
      </div>

      <br />

      <div class="row">
        <div class="col-md-4">
          <b>MOTORISTA: </b>
        </div>
        <div class="col-md-4">
          <b>CAMINHÃO: </b>
        </div>
        <div class="col-md-4">
          <b>PLACA: </b>
        </div>
      </div>

      <br />

      <mat-list>
        <mat-divider></mat-divider>
      </mat-list>

      <img
        class="col-md-12"
        src="../../../../assets/img/rodapeprevia.png"
        alt="Rodapé da Prévia do Pedido"
      />

      <!-- <div class="acoes">
        <button (click)="onSubmit()" class="botao">Emite Pedido</button>
        <button (click)="onCancel()" class="botao">Cancelar</button>
      </div> -->
    </div>
  </div>
</section>
