 .pedido-form {
  padding: 2rem 4rem 2rem;
  height: calc(100vh - 100px);
  box-sizing: border-box;
  overflow-y: auto;
}

.pedido-form form {
  background: #e7e9ecc9;
  border: none;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

h5 {
  text-align: center;
}

.espaco-dentro {
  padding: 0rem 2rem 0rem;
}

.form-grid {
  display: grid;
}

.mat-slide-toggle {
  margin: 8px 10px;
  display: block;
}

.checkbox-margin {
  margin: 0 10px;
}

.radio-group-horizontal {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: 1.5rem;
  padding: 0.5rem 0;
}

.radio-button {
  margin: 0;
}

.acoes {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.botao {
  margin: 5px;
  margin-top: 20px;
  width: 200px;
}

.modelo {
  padding: 1rem;
  width: 100%;
  margin: 0 0 6rem;
  border-radius: 20px;
}

.container-previa {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0rem;
}

.container-previa .imagem {
  padding: 1rem;
}

.container-previa-texto-fixo {
  font-size: 2.0rem;
  margin-right: 1rem;
}

.container-previa-texto {
  font-size: 2.5rem;
}

.container-previa-obs {
  font-size: 2.0rem;
}
