 .pedido-form {
  padding: 2rem 4rem 2rem;
  height: calc(100vh - 100px);
  box-sizing: border-box;
  overflow-y: auto;
}

.pedido-form form {
  background: #e7e9ecc9;
  border: none;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

h5 {
  text-align: center; /* Centraliza o texto horizontalmente */
}

.espaco-dentro {
  padding: 0rem 2rem 0rem;
}

.form-grid {
  display: grid;
}

.mat-slide-toggle {
  margin: 8px 10px;
  display: block;
}

.checkbox-margin {
  margin: 0 10px;
}

.radio-group-horizontal {
  display: flex;
  flex-wrap: nowrap; /* Evita quebra de linha */
  justify-content: flex-start; /* Alinha os botões à esquerda */
  gap: 1.5rem; /* Espaçamento uniforme entre os botões */
  padding: 0.5rem 0; /* Espaçamento interno */
}

.radio-button {
  margin: 0; /* Remove margens para evitar deslocamento */
}

.acoes {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.botao {
  margin: 5px;
  margin-top: 20px;
  width: 200px;
}

.modelo {
  padding: 1rem;
  width: 100%;
  margin: 0 0 6rem;
  border-radius: 20px;
}

.container-previa {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem 0rem;
  font-size: 1.3rem; /* Aumenta o tamanho dos textos */
}

.container-previa .imagem {
  padding: 1rem;
}
