<section class="container cadastrar-pedidos ff-inter">
  <form [formGroup]="formulario" id="formulario">
    <h5>
      <strong>Emitir Pedido:</strong>
      {{ this.formulario.get("idPedido")?.value }}
    </h5>

    <br />
    <h6><strong>Informações Cliente:</strong></h6>
    <br />

    <div class="espaco-dentro">
      <div class="row">
        <div class="col-md-3">
          <mat-form-field class="form-grid" appearance="outline">
            <mat-label>ID Cliente:</mat-label>
            <input
              tabindex="-1"
              readonly="true"
              matInput
              name="idCliente"
              formControlName="idCliente"
            />
          </mat-form-field>
        </div>
        <div class="col-md-9">
          <mat-form-field class="form-grid" appearance="outline">
            <mat-label>Nome:</mat-label>
            <input
              tabindex="-1"
              readonly="true"
              matInput
              name="nome"
              formControlName="nome"
            />
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <mat-form-field class="form-grid" appearance="outline">
            <mat-label>CPF/CNPJ:</mat-label>
            <input
              tabindex="-1"
              readonly="true"
              matInput
              name="cpfCnpj"
              formControlName="cpfCnpj"
            />
          </mat-form-field>
        </div>
        <div class="col-md-9">
          <mat-form-field class="form-grid" appearance="outline">
            <mat-label>Razão Social:</mat-label>
            <input
              tabindex="-1"
              readonly="true"
              matInput
              name="razaoSocial"
              placeholder="Digite a Razão Social"
              formControlName="razaoSocial"
            />
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <mat-form-field class="form-grid" appearance="outline">
            <mat-label>Telefone:</mat-label>
            <input
              tabindex="-1"
              readonly="true"
              matInput
              name="telefone"
              formControlName="telefone"
            />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="form-grid" appearance="outline">
            <mat-label>Celular:</mat-label>
            <input
              tabindex="-1"
              readonly="true"
              matInput
              name="celular"
              formControlName="celular"
            />
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="form-grid" appearance="outline">
            <mat-label>E-mail:</mat-label>
            <input
              tabindex="-1"
              readonly="true"
              matInput
              name="email"
              formControlName="email"
            />
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <mat-form-field class="form-grid" appearance="outline">
            <mat-label>CEP:</mat-label>
            <input
              tabindex="-1"
              readonly="true"
              matInput
              name="cep"
              formControlName="cep"
            />
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-9">
          <mat-form-field class="form-grid" appearance="outline">
            <mat-label>Logradouro:</mat-label>
            <input
              tabindex="-1"
              readonly="true"
              matInput
              name="logradouro"
              formControlName="logradouro"
            />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="form-grid" appearance="outline">
            <mat-label>Número:</mat-label>
            <input
              tabindex="-1"
              readonly="true"
              matInput
              name="numero"
              formControlName="numero"
            />
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-9">
          <mat-form-field class="form-grid" appearance="outline">
            <mat-label>Complemento:</mat-label>
            <input
              tabindex="-1"
              readonly="true"
              matInput
              name="complemento"
              formControlName="complemento"
            />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="form-grid" appearance="outline">
            <mat-label>Bairro:</mat-label>
            <input
              tabindex="-1"
              readonly="true"
              matInput
              name="bairro"
              formControlName="bairro"
            />
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-9">
          <mat-form-field class="form-grid" appearance="outline">
            <mat-label>Cidade:</mat-label>
            <input
              tabindex="-1"
              readonly="true"
              matInput
              name="cidade"
              formControlName="cidade"
            />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="form-grid" appearance="outline">
            <mat-label>UF:</mat-label>
            <input
              tabindex="-1"
              readonly="true"
              matInput
              name="estado"
              formControlName="estado"
            />
          </mat-form-field>
        </div>
      </div>
    </div>

    <br />
    <h6><strong>Endereço de Entrega:</strong></h6>
    <br />

    <div class="espaco-dentro">
      <tr>
        <mat-slide-toggle
          color="blue"
          (change)="onToggleChange($event)"
          [checked]="isAdressChecked"
        >
          Entregar no mesmo endereço de cadastro:
        </mat-slide-toggle>
      </tr>

      <br />

      <div class="row">
        <div class="col-md-3">
          @if (isAdressChecked) {
            <mat-form-field class="form-grid" appearance="outline">
              <mat-label>CEP:</mat-label>
              <input
                tabindex="-1"
                readonly="true"
                matInput
                name="cepEntrega"
                formControlName="cepEntrega"
              />
            </mat-form-field>
          } @else {
            <mat-form-field class="form-grid">
              <mat-label>CEP:</mat-label>
              <input
                matInput
                name="cepEntrega"
                placeholder="Digite o CEP"
                formControlName="cepEntrega"
                (blur)="consultaCEP()"
              />
              @if (formulario.get("cepEntrega")?.invalid) {
                <mat-error>
                  {{
                    formUtils.getMensagemErro(formulario, "cepEntrega")
                  }}</mat-error
                >
              }
            </mat-form-field>
          }
        </div>
      </div>

      <div class="row">
        @if (isAdressChecked) {
          <div class="col-md-9">
            <mat-form-field class="form-grid" appearance="outline">
              <mat-label>Logradouro:</mat-label>
              <input
                tabindex="-1"
                readonly="true"
                matInput
                name="logradouroEntrega"
                formControlName="logradouroEntrega"
              />
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="form-grid" appearance="outline">
              <mat-label>Número:</mat-label>
              <input
                tabindex="-1"
                readonly="true"
                matInput
                name="numeroEntrega"
                formControlName="numeroEntrega"
              />
            </mat-form-field>
          </div>
        } @else {
          <div class="col-md-9">
            <mat-form-field class="form-grid">
              <mat-label>Logradouro:</mat-label>
              <input
                matInput
                name="logradouroEntrega"
                placeholder="Digite o logradouro"
                formControlName="logradouroEntrega"
              />
              @if (formulario.get("logradouroEntrega")?.invalid) {
                <mat-error>
                  {{
                    formUtils.getMensagemErro(formulario, "logradouroEntrega")
                  }}</mat-error
                >
              }
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="form-grid">
              <mat-label>Número:</mat-label>
              <input
                matInput
                name="numeroEntrega"
                placeholder="Digite o número"
                formControlName="numeroEntrega"
              />
              @if (formulario.get("numeroEntrega")?.invalid) {
                <mat-error>
                  {{
                    formUtils.getMensagemErro(formulario, "numeroEntrega")
                  }}</mat-error
                >
              }
            </mat-form-field>
          </div>
        }
      </div>

      <div class="row">
        @if (isAdressChecked) {
          <div class="col-md-9">
            <mat-form-field class="form-grid" appearance="outline">
              <mat-label>Complemento:</mat-label>
              <input
                tabindex="-1"
                readonly="true"
                matInput
                name="complementoEntrega"
                formControlName="complementoEntrega"
              />
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="form-grid" appearance="outline">
              <mat-label>Bairro:</mat-label>
              <input
                tabindex="-1"
                readonly="true"
                matInput
                name="bairroEntrega"
                formControlName="bairroEntrega"
              />
            </mat-form-field>
          </div>
        } @else {
          <div class="col-md-9">
            <mat-form-field class="form-grid">
              <mat-label>Complemento:</mat-label>
              <input
                matInput
                name="complementoEntrega"
                placeholder="Ex. Apto 64"
                formControlName="complementoEntrega"
              />
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="form-grid">
              <mat-label>Bairro:</mat-label>
              <input
                matInput
                name="bairroEntrega"
                placeholder="Digite o bairro"
                formControlName="bairroEntrega"
              />
            </mat-form-field>
          </div>
        }
      </div>

      <div class="row">
        @if (isAdressChecked) {
          <div class="col-md-9">
            <mat-form-field class="form-grid" appearance="outline">
              <mat-label>Cidade:</mat-label>
              <input
                tabindex="-1"
                readonly="true"
                matInput
                name="cidadeEntrega"
                formControlName="cidadeEntrega"
              />
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="form-grid" appearance="outline">
              <mat-label>UF:</mat-label>
              <input
                tabindex="-1"
                readonly="true"
                matInput
                name="estadoEntrega"
                formControlName="estadoEntrega"
              />
            </mat-form-field>
          </div>
        } @else {
          <div class="col-md-9">
            <mat-form-field class="form-grid">
              <mat-label>Cidade:</mat-label>
              <input
                matInput
                name="cidadeEntrega"
                placeholder="Digite a cidade"
                formControlName="cidadeEntrega"
              />
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="form-grid">
              <mat-label>UF:</mat-label>
              <input
                matInput
                name="estadoEntrega"
                placeholder="Digite o estado. Ex: SP"
                formControlName="estadoEntrega"
              />
            </mat-form-field>
          </div>
        }
      </div>
    </div>

    <br />
    <h6><strong>Informações Pedido:</strong></h6>
    <br />

    <div class="espaco-dentro">
      <div class="row">
        <div class="col-md-2">
          <mat-form-field class="form-grid" appearance="outline">
            <mat-label>Faturado:</mat-label>
            <input
              matInput
              name="tipoPgto"
              formControlName="tipoPgto"
              tabindex="-1"
              readonly="true"
            />
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field class="form-grid" appearance="outline">
            <mat-label>SFOBRAS:</mat-label>
            <input
              matInput
              name="sfobras"
              formControlName="sfobras"
              tabindex="-1"
              readonly="true"
            />
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field class="form-grid" appearance="outline">
            <mat-label>CNO:</mat-label>
            <input
              matInput
              name="cno"
              formControlName="cno"
              tabindex="-1"
              readonly="true"
            />
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field class="form-grid" appearance="outline">
            <mat-label>Inscrição Estadual:</mat-label>
            <input
              matInput
              name="ie"
              formControlName="ie"
              tabindex="-1"
              readonly="true"
            />
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field class="form-grid" appearance="outline">
            <mat-label>Mangueira:</mat-label>
            <input
              matInput
              name="mangueira"
              formControlName="mangueira"
              tabindex="-1"
              readonly="true"
            />
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2">
          <mat-form-field class="form-grid" appearance="outline">
            <mat-label>Preço cx-5m³</mat-label>
            <input
              tabindex="-1"
              readonly="true"
              matInput
              name="precoCx5"
              formControlName="precoCx5"
              maxlength="12"
            />
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field class="form-grid" appearance="outline">
            <mat-label>Preço cx-10m³</mat-label>
            <input
              tabindex="-1"
              readonly="true"
              matInput
              name="precoCx10"
              formControlName="precoCx10"
              maxlength="12"
            />
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field class="form-grid" appearance="outline">
            <mat-label>Preço cx-15m³</mat-label>
            <input
              tabindex="-1"
              readonly="true"
              matInput
              name="precoCx15"
              formControlName="precoCx15"
              maxlength="12"
            />
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field class="form-grid" appearance="outline">
            <mat-label>Preço lav-5m³</mat-label>
            <input
              tabindex="-1"
              readonly="true"
              matInput
              name="precoLv5"
              formControlName="precoLv5"
              maxlength="12"
            />
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field class="form-grid" appearance="outline">
            <mat-label>Preço lav-10m³</mat-label>
            <input
              tabindex="-1"
              readonly="true"
              matInput
              name="precoLv10"
              formControlName="precoLv10"
              maxlength="12"
            />
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field class="form-grid" appearance="outline">
            <mat-label>Preço lav-15m³</mat-label>
            <input
              tabindex="-1"
              readonly="true"
              matInput
              name="precoLv15"
              formControlName="precoLv15"
              maxlength="12"
            />
          </mat-form-field>
        </div>
      </div>

      <h6>Volume:</h6>
      <div class="row">
        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          name="volume"
          formControlName="volume"
          class="radio-group-horizontal w-100"
        >
          <mat-radio-button
            *ngFor="let volume of volumes"
            [value]="volume.value"
            class="radio-button"
          >
            {{ volume.viewValue }}
          </mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="row">
        <div class="col-md-3">
          <br />
          <h6>Ajudante p/ hora adicional:</h6>
          <p>
            <mat-checkbox
              [checked]="formulario.value.ajudante === 'Sim'"
              (change)="onCheckboxChange('Sim')"
            >
              Sim
            </mat-checkbox>
            <mat-checkbox
              [checked]="formulario.value.ajudante === 'Não'"
              (change)="onCheckboxChange('Não')"
            >
              Não
            </mat-checkbox>
          </p>
        </div>
        <div class="col-md-9">
          <br />
          <mat-form-field class="form-grid">
            <mat-label>Observações:</mat-label>
            <input
              matInput
              name="observacao"
              placeholder="Informações adicionais"
              formControlName="observacao"
            />
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="acoes">
      <button (click)="onSubmit('Emitido')" type="button" class="botao">
        Emite Pedido
      </button>
      <button (click)="onSubmit('Salvo')" type="button" class="botao">
        Salvar
      </button>
      <button (click)="onCancel()" type="button" class="botao">Cancelar</button>
    </div>
  </form>

  <br />
  <br />

  <div class="container-previa">
    <div class="preview-image-container" style="margin-top: 20px"></div>

    <div class="modelo ff-roboto-mono">
      <img
        class="col-md-12"
        src="../../../../assets/img/logo.png"
        alt="Logo São Tomé"
      />

      <br />

      <mat-list>
        <mat-divider></mat-divider>
      </mat-list>

      <div class="row">
        <div class="col-md-9">
          <h4>PEDIDO: {{ this.formulario.get("idPedido")?.value }}</h4>
        </div>
        <div class="col-md-3">
          <b>DATA: </b>
          {{ dataAtual | date: "dd/MM/yyyy" }}
        </div>
      </div>

      <mat-list>
        <mat-divider></mat-divider>
      </mat-list>

      <br />

      <div class="campos_previa">
        <p class="nome">
          <b>CLIENTE: </b>
          {{ this.formulario.get("nome")?.value }}
        </p>
      </div>

      <div class="campos_previa">
        <p class="endereco">
          <b>ENDEREÇO: </b>
          {{ this.formulario.get("logradouroEntrega")?.value }},
          {{ this.formulario.get("numeroEntrega")?.value }},
          {{ this.formulario.get("complementoEntrega")?.value }},
          {{ this.formulario.get("bairroEntrega")?.value }},
          {{ this.formulario.get("estadoEntrega")?.value }}
          - CEP: {{ this.formulario.get("cepEntrega")?.value }}
        </p>
      </div>

      <div class="row">
        <div class="col-md-4">
          <b>VOLUME: </b>
          {{ this.formulario.get("volume")?.value }}
        </div>
        <div class="col-md-4">
          <b>MANGUEIRA: </b>
          {{ this.formulario.get("mangueira")?.value }}
        </div>
        <div class="col-md-4">
          <b>PREÇO: </b>
          {{ formulario.get("precoEscolhido")?.value }}
        </div>
      </div>

      <br />

      <div class="row">
        <div class="col-md-4">
          <b>MOTORISTA: </b>
        </div>
        <div class="col-md-4">
          <b>CAMINHÃO: </b>
        </div>
        <div class="col-md-4">
          <b>PLACA: </b>
        </div>
      </div>

      <br />

      <div class="row">
        <div class="col-md-3">
          <b>AJUDANTE: </b>
          {{ formulario.get("ajudante")?.value }}
        </div>
        <div class="col-md-9">
          <b>OBS.: </b>
          {{ this.formulario.get("observacao")?.value }}
        </div>
      </div>

      <mat-list>
        <mat-divider></mat-divider>
      </mat-list>

      <img
        class="col-md-12"
        src="../../../../assets/img/rodapeprevia.png"
        alt="Rodapé da Prévia do Pedido"
      />
    </div>
  </div>
</section>
