.cabecalho {
  background: url(/assets/img/fundo-cabecalho.png);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
}

.cabecalho .logo-gota {
  width: 100%;
  max-width: 78px;
}

.cabecalho .logo-texto {
  max-width: 150px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.cabecalho .logo-caminhao {
  margin-left: auto;
  width: 100%;
  max-width: 78px;
}

.navbar-text {
  padding: 0rem 0.5rem 0rem;
}
