header {
  background: url(/assets/img/fundo-cabecalho.png);
  position: fixed;
  height: 50px;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 1000;
}

.logo-gota {
  width: 100%;
  max-width: 78px;
}

.logo-texto {
  max-width: 150px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.logo-caminhao {
  margin-left: auto;
  width: 100%;
  max-width: 58px;
}

.navbar-text {
  padding: 0rem 0.5rem 0rem;
}

.mr-1 {
  color: #52b4d8 !important;
  font-weight: bold;
  cursor: pointer;
}

@media (max-width: 480px) {
  .logo-gota {
    max-width: 60px;
  }

  .logo-caminhao {
    display: none;
  }

  .navbar-text,
  .mr-1,
  .fa-user-circle {
    font-size: 12px;
  }

  .user-actions {
    margin-left: auto;
    padding-right: 1px;
  }

  .user-actions div {
    align-items: flex-end;

    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    padding-right: 1px;
  }

}
