<header>
  <img
    class="logo-gota"
    src="../../../assets/img/logo-cabecalho.png"
    alt="Imagem com um gota dagua"
  />
  <img
    class="logo-texto"
    src="../../../assets/img/logo-saotome.png"
    alt="Imagem com o texto São Tomé"
  />
  <img
    class="logo-caminhao"
    src="../../../assets/img/caminhao-cabecalho.png"
    alt="Imagem de um caminhão"
  />

  <div class="user-actions">
    @if (user$ | async; as user) {
      <div>
        @if (user.username) {
          <div>
            <i class="fa fa-user-circle mr-1"> </i>
            <a class="navbar-text">{{ user.username }}</a> <br />
            <a class="mr-1" (click)="logout()"> Logout</a>
          </div>
        } @else {
          <span class="navbar-text">
            <a [routerLink]="['']">Login</a>
          </span>
        }
      </div>
    }
  </div>
</header>
