.novo-usuario {
  padding: 2rem;
  min-height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  white-space: nowrap;
}

.novo-usuario form {
  background: #bbbfc2;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  max-width: 400px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}

.label {
  color: #000000;
  font-weight: bold;
  margin: 0 0 1rem;
}

.input {
  border: none;
  height: 40px;
  padding: 1rem;
  border-radius: 10px;
  margin: 0 0 1rem;
}

.botao {
  margin-top: 60px;
  width: 100%;
  max-width: 200px;
  align-self: center;
}

.erro {
  margin: -1rem 0 1rem;
  color: red;
}

.links-container {
  display: flex;
  gap: 50px;
  white-space: nowrap;
  margin-top: 3px;
  font-size: 14px;
}

@media (max-width: 480px) {
  .novo-usuario {
    padding: 1.0rem;
  }

  .novo-usuario form {
    padding: 1.5rem;
  }
}
