mat-card {
  padding: 2rem 4rem 2rem;
  display: flex;
  flex-direction: column;
  margin: 0;
  height: calc(100vh - 100px);
  box-sizing: border-box;
  overflow-y: auto;
}

.mat-table {
  flex: 1;
  overflow: auto;
}

mat-paginator {
  margin-top: 1em;
}

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.form-grid {
  width: 100%;
}

.small-input {
  max-width: 160px;
  width: 100%;
}

.clear-filters-button {
  padding: 2px 7px;
  font-size: 12px;
  height: 28px;
}

.menu-button {
  background: #b5b7b9;
  padding: 2px 7px;
  font-size: 12px;
  height: 28px;
  margin-left: 16px;
}

.action-column {
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: center;
}

.action-button {
  width: 32px;
  height: 32px;
  min-width: 32px;
  line-height: 32px;
}

.action-button mat-icon {
  font-size: 22px;
}

.mat-header-row,
.mat-row {
  display: flex;
  width: 100%;
}

.mat-header-cell,
.mat-cell {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mat-column-acaoConsulta,
.mat-column-acao {
  flex: 0 0 90px;
  text-align: center;
}

.mat-column-idPedido,
.mat-column-idCliente {
  flex: 0 0 65px;
}

.mat-column-nome,
.mat-column-razaoSocial {
  flex: 2;
}

.mat-column-cpfCnpj {
  flex: 1.4;
}

.mat-column-enderecoEntrega {
  flex: 3;
}

.mat-column-dataAtualizacaoPedido {
  flex: 0 0 100px;
}

.mat-column-status {
  flex: 0 0 100px;
}

.loading-spinner {
  background: #dde0e2;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
