mat-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 1em;
}

mat-paginator {
  margin-top: 1em;
  align-self: flex-end;
}

.mat-table {
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 100%;
}

.toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toolbar-text {
  text-align: center;
}

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.form-grid {
  width: 100%;
}

.small-input {
  max-width: 160px;
  width: 100%;
}

.clear-filters-button {
  padding: 2px 7px;
  font-size: 12px;
  height: 28px;
}

.menu-button {
  background: #b5b7b9;
  padding: 2px 7px;
  font-size: 12px;
  height: 28px;
  margin-left: 16px;
}

.action-column {
  display: flex;
  justify-content: center; /* Centraliza os botões horizontalmente */
  gap: 8px; /* Espaçamento entre botões */
  align-items: center; /* Alinha os botões verticalmente */
}

.action-button {
  width: 32px; /* Define a largura do botão */
  height: 32px; /* Define a altura do botão */
  min-width: 32px; /* Ajusta o tamanho mínimo */
  line-height: 32px; /* Centraliza verticalmente */
}

.action-button mat-icon {
  font-size: 22px; /* Reduz o tamanho do ícone */
}

.mat-header-row,
.mat-row {
  display: flex;
  width: 100%;
}

.mat-header-cell,
.mat-cell {
  flex: 1; /* Permite que as colunas cresçam igualmente */
  overflow: hidden; /* Evita o estouro de texto */
  text-overflow: ellipsis; /* Adiciona reticências para texto longo */
  white-space: nowrap; /* Mantém o texto em uma única linha */
}

.mat-column-acaoConsulta,
.mat-column-acao {
  flex: 0 0 90px;
  text-align: center;
}

.mat-column-idPedido {
  flex: 0 0 65px;
}

.mat-column-nome {
  flex: 2;
}

.mat-column-razaoSocial {
  flex: 2;
}

.mat-column-cpfCnpj {
  flex: 1.5;
}

.mat-column-enderecoEntrega {
  flex: 3;
}

.mat-column-dataAtualizacaoPedido {
  flex: 0 0 100px;
}

.mat-column-status {
  flex: 0 0 100px;
}

.loading-spinner {
  background: #dde0e2;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
