mat-card {
  padding: 2rem 4rem 2rem;
  margin: 0;
  box-sizing: border-box;
}

.mat-table {
  flex: 1;
  overflow: auto;
}

.d-flex {
  display: flex;
  justify-content: center;
  gap: 16px;
}

mat-paginator {
  margin-top: 1em;
}

.form-grid {
  width: 100%;
}

.small-input {
  max-width: 160px;
}

.small-button {
  background: #b5b7b9;
  font-size: 12px;
  height: 40px;
  max-width: 100px;
}

.action-button {
  width: 32px;
  height: 32px;
  min-width: 32px;
  line-height: 32px;
}

.action-button mat-icon {
  font-size: 16px;
}

.action-column {
  justify-content: center;
  gap: 8px;
}

.mat-column-acaoConsulta,
.mat-column-acao {
  flex: 0 0 90px;
  text-align: center;
}

.mat-column-idPedido,
.mat-column-idCliente {
  flex: 0 0 65px;
}

.mat-column-nome,
.mat-column-razaoSocial {
  flex: 2;
}

.mat-column-cpfCnpj {
  flex: 1.4;
}

.mat-column-enderecoEntrega {
  flex: 3;
}

.mat-column-dataAtualizacaoPedido {
  flex: 0 0 100px;
}

.mat-column-status {
  flex: 0 0 100px;
}

.action-button {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.action-button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.loading-spinner {
  background: #dde0e2;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 600px) {
  .d-flex {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  mat-card {
    padding: 1rem;
  }

  .form-grid {
    width: 100% !important;
    font-size: 12px;
  }

  .small-button {
    font-size: 10px;
    height: 40px;
    max-width: 50px;
    padding: 4px;
  }

  .mat-column-idPedido,
  .mat-column-idCliente,
  .mat-column-nome,
  .mat-column-razaoSocial,
  .mat-column-cpfCnpj,
  .mat-column-enderecoEntrega,
  .mat-column-dataAtualizacaoPedido,
  .mat-column-status {
    flex: 1;
    font-size: 11px;
  }

  .mat-column-idPedido,
  .mat-column-nome {
    flex: 1.2;
  }

  .mat-column-idPedido {
    margin-right: -15px;
  }

  .mat-column-enderecoEntrega {
    flex: 1.7;
  }

  .mat-column-dataAtualizacaoPedido {
    flex: 1.5;
    margin-bottom: 0;
  }

  mat-paginator {
    font-size: 12px;
  }

  .mat-column-idCliente,
  .mat-column-razaoSocial,
  .mat-column-cpfCnpj,
  .mat-column-status {
    display: none;
  }

  .action-button {
    width: 24px;
    height: 24px;
    min-width: 24px;
    line-height: 24px;
  }

  .action-button mat-icon {
    font-size: 16px;
  }

  .mat-column-acaoConsulta {
    flex: 0 0 40px;
  }

  .mat-column-acaoConsulta .action-button {
    margin-left: -8px;
  }

  .mat-column-acao {
    flex: 0 0 60px;
    margin-top: 0;
  }

  .mat-column-acao .action-button {
    margin-right: -20px;
  }

  .action-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .form-grid .mat-icon {
    display: none;
  }

  .form-grid:first-child,
  .form-grid:nth-child(2),
  .form-grid:nth-child(3) {
    flex: 1 1 30%;
  }

  .form-grid:nth-child(4),
  .small-button {
    flex: 1 1 30%;
    margin-top: -25px;
  }

}
