.cliente-form {
  padding: 2rem 4rem 2rem;
  height: calc(100vh - 100px);
  box-sizing: border-box;
  overflow-y: auto;
}

.cliente-form form {
background: #dde0e2;
border-radius: 20px;
display: flex;
flex-direction: column;
padding: 2rem;
}

h5 {
  text-align: center; /* Centraliza o texto horizontalmente */
}

.espaco-dentro {
padding: 0rem 2rem 0rem;
}

.form-grid {
display: grid;
}

.acoes {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.botao {
  margin: 5px;
  margin-top: 20px;
  width: 200px;
}
