<div class="chart-container">
  <!-- Gráfico de Barras -->
  <div class="chart-wrapper">
    <canvas 
      baseChart
      [data]="barChartData"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [type]="barChartType"
      [legend]="barChartLegend">
    </canvas>
  </div>

  <!-- Gráfico de Pizza -->
  <div class="chart-wrapper">
    <canvas 
      baseChart
      [data]="pieChartData.data"
      [labels]="pieChartLabels"
      [options]="pieChartOptions"
      [type]="pieChartType"
      [legend]="pieChartLegend"
      [colors]="pieChartData.backgroundColor">
    </canvas>
  </div>
</div>