.mat-table {
  overflow: auto;
  max-height: 600px;
}

/* Ajuste de layout para centralizar os botões */
.action-column {
  width: 125px; /* Largura fixa para a coluna de ações */
}

/* Estilizando o cabeçalho do botão de adicionar */
.action-column-header {
  margin: 0 auto;
}

/* Adicionando um pequeno espaçamento entre os botões */
.action-column button {
  margin-right: 8px;
}

mat-card {
  max-width: 100%;
  margin: 1em auto;
}

.loading-spinner {
    background: #dde0e2;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilo para centralizar o texto dentro da mat-toolbar */
.toolbar {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center;     /* Centraliza verticalmente */
}

.toolbar-text {
  text-align: center;
}
