mat-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 1em;
}

mat-paginator {
  margin-top: 1em;
  align-self: flex-end;
}

.mat-table {
  overflow: auto;
  max-height: 600px;
}

.action-column {
  flex: 0 0 125px;
}

.action-column-header {
  margin: 0 auto;
}

.action-column button {
  margin-right: 8px;
}

.loading-spinner {
    background: #dde0e2;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toolbar-text {
  text-align: center;
}

.form-grid {
  width: 100%; /* Faz o campo ocupar todo o espaço disponível */
  max-width: 500px; /* Define uma largura máxima, se necessário */
}

.clear-filters-button {
  padding: 2px 7px;
  font-size: 12px;
  height: 28px;
  margin-left: 16px;
}
