<section class="container">
  <div class="d-flex">
    <button routerLink="/consultar-pedidos" class="botao">
      <i class="fa fa-search" aria-hidden="true"></i>
      Consultar Pedidos
    </button>

    <button routerLink="/cadastrar-cliente" class="botao">
      <span style="font-size: 1em; color: white">
        <i class="fa fa-plus fa-sm" aria-hidden="true"></i>
      </span>
      Cadastrar Cliente
    </button>

    <button routerLink="/consultar-clientes" class="botao">
      <i class="fa fa-search" aria-hidden="true"></i>
      Consultar Clientes
    </button>
  </div>

  <div class="d-flex">
    <button
      *ngIf="permissaoUsuario === 'ADMIN' || permissaoUsuario === 'DESENV'"
      routerLink="/balancos-metricas"
      class="botao-restricted"
    >
      <span style="font-size: 1em; color: white">
        <i class="fa fa-search" aria-hidden="true"></i>
      </span>
      Balanços / Métricas
    </button>

    <button
      *ngIf="permissaoUsuario === 'ADMIN' || permissaoUsuario === 'DESENV'"
      routerLink="/usuarios"
      class="botao-restricted"
    >
      <span style="font-size: 1em; color: white">
        <i class="fa fa-plus fa-sm" aria-hidden="true"></i>
      </span>
      Usuários e Permissões
    </button>

    <button
      *ngIf="permissaoUsuario === 'ADMIN' || permissaoUsuario === 'DESENV'"
      routerLink="/consulta-fipe"
      class="botao-restricted"
    >
      <span style="font-size: 1em; color: white">
        <i class="fa fa-search" aria-hidden="true"></i>
      </span>
      Consulta tabela Fipe
    </button>
  </div>
</section>
