  .d-flex {
    display: flex;
    gap: 3rem;
    padding: 5rem 0rem 0rem;
    justify-content: center;
    flex-wrap: wrap;
  }

  .botao-restricted {
    background: #158040;
    color: #ffffff;
    max-width: 270px;
    width: 250px;
    padding: 1rem;
    margin: 0 auto;
    border: 2px solid #158040;
    border-radius: 10px;
    transition: 0.5s ease;
  }

  @media screen and (max-width: 480px) {
    .d-flex {
      gap: 1rem;
      padding: 2rem 0 0;
    }

    .botao,
    .botao-restricted {
      padding: 0.7rem;
      font-size: 0.9rem;
    }

    .container {
      padding-top: 50px;
      overflow: hidden;
    }
  }
