<section class="pedido-form">
  <form [formGroup]="formulario" id="formulario">
    <br />

    <div class="espaco-dentro">
      <div class="row">
        <div class="col-md-9">
          <h5>
            <strong
              >ID Pedido: </strong> {{ this.formulario.get("idPedido")?.value }}
              ({{ this.formulario.get("status")?.value }})
          </h5>
        </div>
        <div class="col-md-3">
          <mat-form-field class="form-grid">
            <mat-label>Data :</mat-label>
            <input
              matInput
              dataAtualizacaoPedido="dataAtualizacaoPedido"
              formControlName="dataAtualizacaoPedido"
              value="{{ formulario.get('dataAtualizacaoPedido')?.value }}"
            />
          </mat-form-field>
        </div>
      </div>
    </div>

    <br />

    <h6>
      <strong
        >Informações Cliente:
        {{ this.formulario.get("idCliente")?.value }}</strong
      >
    </h6>
    <br />

    <div class="espaco-dentro">
      <div class="row">
        <div class="col-md-9">
          <mat-form-field class="form-grid">
            <mat-label>Nome:</mat-label>
            <input matInput name="nome" formControlName="nome" />
          </mat-form-field>
        </div>

        <div class="col-md-3">
          <mat-form-field class="form-grid">
            <mat-label>CPF/CNPJ:</mat-label>
            <input matInput name="cpfCnpj" formControlName="cpfCnpj" />
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <mat-form-field class="form-grid">
            <mat-label>Telefone:</mat-label>
            <input matInput name="telefone" formControlName="telefone" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="form-grid">
            <mat-label>Celular:</mat-label>
            <input matInput name="celular" formControlName="celular" />
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="form-grid">
            <mat-label>E-mail:</mat-label>
            <input matInput name="email" formControlName="email" />
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <mat-form-field class="form-grid">
            <mat-label>CEP:</mat-label>
            <input matInput name="cep" formControlName="cep" />
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-9">
          <mat-form-field class="form-grid">
            <mat-label>Logradouro:</mat-label>
            <input matInput name="logradouro" formControlName="logradouro" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="form-grid">
            <mat-label>Número:</mat-label>
            <input matInput name="numero" formControlName="numero" />
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-9">
          <mat-form-field class="form-grid">
            <mat-label>Complemento:</mat-label>
            <input matInput name="complemento" formControlName="complemento" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="form-grid">
            <mat-label>Bairro:</mat-label>
            <input matInput name="bairro" formControlName="bairro" />
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-9">
          <mat-form-field class="form-grid">
            <mat-label>Cidade:</mat-label>
            <input matInput name="cidade" formControlName="cidade" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="form-grid">
            <mat-label>UF:</mat-label>
            <input matInput name="estado" formControlName="estado" />
          </mat-form-field>
        </div>
      </div>
    </div>

    <br />
    <h6><strong>Informações Empresa:</strong></h6>
    <br />

    <div class="espaco-dentro">

      <div class="row">
        <div class="col-md-9">
          <mat-form-field class="form-grid">
            <mat-label>Razão Social:</mat-label>
            <input matInput name="razaoSocial" formControlName="razaoSocial" />
          </mat-form-field>
        </div>
      </div>
    </div>

    <br />
    <h6><strong>Informações Pedido:</strong></h6>
    <br />

    <div class="espaco-dentro">
      <div class="row">
        <div class="col-md-2">
          <mat-form-field class="form-grid">
            <mat-label>Faturado:</mat-label>
            <input matInput name="tipoPgto" formControlName="tipoPgto" />
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <mat-form-field class="form-grid">
            <mat-label>CEP:</mat-label>
            <input matInput name="cepEntrega" formControlName="cepEntrega" />
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-9">
          <mat-form-field class="form-grid">
            <mat-label>Logradouro:</mat-label>
            <input
              matInput
              name="logradouroEntrega"
              formControlName="logradouroEntrega"
            />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="form-grid">
            <mat-label>Número:</mat-label>
            <input
              matInput
              name="numeroEntrega"
              formControlName="numeroEntrega"
            />
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-9">
          <mat-form-field class="form-grid">
            <mat-label>Complemento:</mat-label>
            <input
              matInput
              name="complementoEntrega"
              formControlName="complementoEntrega"
            />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="form-grid">
            <mat-label>Bairro:</mat-label>
            <input
              matInput
              name="bairroEntrega"
              formControlName="bairroEntrega"
            />
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-9">
          <mat-form-field class="form-grid">
            <mat-label>Cidade:</mat-label>
            <input
              matInput
              name="cidadeEntrega"
              formControlName="cidadeEntrega"
            />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="form-grid">
            <mat-label>UF:</mat-label>
            <input
              matInput
              name="estadoEntrega"
              formControlName="estadoEntrega"
            />
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2">
          <mat-form-field class="form-grid">
            <mat-label>SFOBRAS:</mat-label>
            <input matInput name="sfobras" formControlName="sfobras" />
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field class="form-grid">
            <mat-label>CNO:</mat-label>
            <input matInput name="cno" formControlName="cno" />
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field class="form-grid">
            <mat-label>Inscrição Estadual:</mat-label>
            <input matInput name="ie" formControlName="ie" />
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field class="form-grid">
            <mat-label>Mangueira: Metros</mat-label>
            <input matInput name="mangueira" formControlName="mangueira" />
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field class="form-grid">
            <mat-label>Volume:</mat-label>
            <input matInput name="volume" formControlName="volume" />
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2">
          <mat-form-field class="form-grid">
            <mat-label>Preço cx-5m³</mat-label>
            <input matInput name="precoCx5" formControlName="precoCx5" />
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field class="form-grid">
            <mat-label>Preço cx-10m³</mat-label>
            <input matInput name="precoCx10" formControlName="precoCx10" />
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field class="form-grid">
            <mat-label>Preço cx-15m³</mat-label>
            <input matInput name="precoCx15" formControlName="precoCx15" />
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field class="form-grid">
            <mat-label>Preço lav-5m³</mat-label>
            <input matInput name="precoLv5" formControlName="precoLv5" />
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field class="form-grid">
            <mat-label>Preço lav-10m³</mat-label>
            <input matInput name="precoLv10" formControlName="precoLv10" />
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field class="form-grid">
            <mat-label>Preço lav-15m³</mat-label>
            <input matInput name="precoLv15" formControlName="precoLv15" />
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <mat-form-field class="form-grid">
            <mat-label>Ajudante p/ hora adicional:</mat-label>
            <input
              matInput
              name="ajudante"
              formControlName="ajudante"
            />
          </mat-form-field>
        </div>
        <div class="col-md-8">
          <mat-form-field class="form-grid">
            <mat-label>Observações:</mat-label>
            <input matInput name="observacao" formControlName="observacao" />
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="acoes">
      <button
        *ngIf="formulario.get('status')?.value === 'Salvo'"
        (click)="onSubmitIssue()"
        type="button"
        class="botao">
        Emite Pedido
      </button>
      <button
        (click)="onBack()"
        class="botao">
        Voltar
      </button>
    </div>
  </form>
</section>
