.pedido-form {
  padding: 2rem 4rem 2rem;
  height: calc(100vh - 100px);
  box-sizing: border-box;
  overflow-y: auto;
}

.pedido-form form {
  background: #e7e9ecc9;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

h5 {
  text-align: center;
}

.espaco-dentro {
  padding: 0rem 2rem 0rem;
}

.form-grid {
  display: grid;
}

.acoes {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.botao {
  margin: 5px;
  margin-top: 20px;
  width: 200px;
}

@media screen and (max-width: 480px) {
  .pedido-form {
    gap: 1rem;
    padding: 1rem 1rem 1rem;
  }

  .pedido-form form {
    border-radius: 10px;
    padding: 1rem;
    font-size: 0.8rem;
  }

  .espaco-dentro {
    padding: 0rem 0.8rem 0rem;
  }

  .form-grid {
    font-size: 0.8rem;
  }

  .botao {
    width: 150px;
    padding: 0.7rem;
    font-size: 0.8rem;
  }

}
