<section class="login">
  <h3 class="text-center">Login</h3>

  <form (ngSubmit)="login()" #loginForm="ngForm">
    <label for="usuario">Nome de usuário:</label>
    <input
      class="input"
      placeholder="Informe o usuário"
      [(ngModel)]="usuario"
      name="usuario"
      #campoUsuario="ngModel"
      required
    />
    @if (campoUsuario.invalid && campoUsuario.touched) {
      <app-mensagem class="erro" mensagem="Usuário obrigatório"></app-mensagem>
    }

    <label for="password">Senha:</label>
    <input
      type="password"
      class="input"
      placeholder="Informe a senha"
      [(ngModel)]="senha"
      name="senha"
      #campoSenha="ngModel"
      required
    />

    @if (campoSenha.invalid && campoSenha.touched) {
      <app-mensagem class="erro" mensagem="Senha obrigatória"></app-mensagem>
    }

    <button
      type="submit"
      class="botao btn-primary btn-block"
      [disabled]="loginForm.invalid"
    >
      Login
    </button>
  </form>

  <div class="links-container">
      <a [routerLink]="'novousuario'">Criar conta</a>
      <a [routerLink]="'recuperar-senha'">Recuperar senha</a>
  </div>

</section>
