.login {
  padding: 2rem 4rem 2rem;
  min-height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.login form {
  background: #bbbfc2;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  max-width: 400px;
}

.label {
  color: #000000;
  font-weight: bold;
  margin: 0 0 1rem;
}

.input {
  border: none;
  height: 40px;
  padding: 1rem;
  border-radius: 10px;
  margin: 0 0 1rem;
}

.botao {
  margin-top: 60px;
  width: 100%;
  max-width: 200px;
  align-self: center;
}

.erro {
  margin: -1rem 0 1rem;
  color: red;
}

.links-container {
  display: flex;
  gap: 50px;
  margin-top: 8px;
}
