<div *ngIf="!isLoading" class="chart-container">
  <div class="chart-wrapper">
    <div class="chart-title-container">
      <h3 class="chart-subtitle">Top 5 Clientes por Volume de Gastos</h3>
    </div>
    <canvas
      baseChart
      [data]="barChartData"
      [options]="barChartOptions"
      type="bar"
    >
    </canvas>
  </div>

  <div class="chart-wrapper">
    <div class="chart-title-container">
      <h3 class="chart-subtitle">Total geral por mês</h3>
    </div>
    <canvas
      baseChart
      [data]="pieChartData"
      [options]="pieChartOptions"
      type="pie"
    ></canvas>
  </div>

</div>

<div *ngIf="isLoading" class="loading-spinner">
  <mat-spinner></mat-spinner>
</div>
