.botao {
  background: #154580;
  color: #ffffff;
  max-width: 270px;
  width: 250px;
  padding: 1rem;
  margin: 0 auto;
  border: 2px solid #154580;
  border-radius: 10px;
  transition: 0.5s ease;
}

main {
  margin-top: 50px; /* Altura do cabeçalho */
  margin-bottom: 50px; /* Altura do rodapé */
  height: calc(100vh - 100px); /* Subtraindo cabeçalho e rodapé */
  overflow-y: auto;
}
